body {
  font-family: 'Noto Sans', sans-serif;
}


.footer .icon-link {
    font-size: 25px;
    color: #000;
}

.link-block a {
    margin-top: 5px;
    margin-bottom: 5px;
}

.dnerf {
  font-variant: small-caps;
}


.teaser .hero-body {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.teaser {
  font-family: 'Google Sans', sans-serif;
}


.publication-title {
}

.publication-banner {
  max-height: parent;

}

.publication-banner video {
  position: relative;
  left: auto;
  top: auto;
  transform: none;
  object-fit: fit;
}

.publication-header .hero-body {
}

.publication-title {
    font-family: 'Google Sans', sans-serif;
}

.publication-authors {
    font-family: 'Google Sans', sans-serif;
}

.publication-venue {
    color: #555;
    width: fit-content;
    font-weight: bold;
}

.publication-awards {
    color: #ff3860;
    width: fit-content;
    font-weight: bolder;
}

.publication-authors {
}

.publication-authors a {
   color: hsl(204, 86%, 53%) !important;
}

.publication-authors a:hover {
    text-decoration: underline;
}

.author-block {
  display: inline-block;
}

.publication-banner img {
}

.publication-authors {
  /*color: #4286f4;*/
}

.publication-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    overflow: hidden;
    border-radius: 10px !important;
}

.publication-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.publication-body img {
}

.results-carousel {
  overflow: hidden;
}

.results-carousel .item {
  margin: 5px;
  overflow: hidden;
  border: 1px solid #bbb;
  border-radius: 10px;
  padding: 0;
  font-size: 0;
}

.results-carousel video {
  margin: 0;
}


.interpolation-panel {
  background: #f5f5f5;
  border-radius: 10px;
}

.interpolation-panel .interpolation-image {
  width: 100%;
  border-radius: 5px;
}

.interpolation-video-column {
}

.interpolation-panel .slider {
  margin: 0 !important;
}

.interpolation-panel .slider {
  margin: 0 !important;
}

#interpolation-image-wrapper {
  width: 100%;
}
#interpolation-image-wrapper img {
  border-radius: 5px;
}

/* ============== Hero Color Gradient ============== */

.hero-bg {
  background: linear-gradient(
    90deg,
    #fb8b24 0%,
    #ffffff 50%,
    #4caf50 100%
  );
  filter: blur(30px);
  opacity: 0.2;
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  z-index: -1;
}

.hero-section-with-bg {
  position: relative;
  overflow: hidden; /* prevent background from affecting other sections */
}


/* ============== Hero Color Gradient ============== */

.bibtex-bg {
  background: linear-gradient(
    90deg,
    #fb8b24 0%,
    #ffffff 50%,
    #4caf50 100%
  );
  filter: blur(30px);
  opacity: 0.2;
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  z-index: -1;
}

.bibtex-section-with-bg {
  position: relative;
  overflow: hidden; /* prevent background from affecting other sections */
  border-top: 0.5px solid #ddd;
  margin-top: 2rem;
  padding-top: 2rem;
}

/* ============== TLDR Section ============== */

.tldr-section {
  background-color: #f5f5f5;
  padding: 2rem 1.5rem;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.tldr-box {
  /* max-width: 850px; */
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
}

.tldr-title {
  font-family: 'Google Sans', sans-serif;
  font-size: 1.7rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.tldr-text {
  font-size: 1.2rem;
  font-family: 'Noto Sans', sans-serif;
  color: #333;
}

/* ============== Custom Division Blocks. ============== */

.video-block {
  margin-top: 3.0rem;  
}

.abstract-block {
  margin-top: 3.0rem;  
}

.approach-block {
  border-top: 1px solid #ddd;
  margin-top: 6.0rem;  
  padding-top: 3.0rem;
  padding-bottom: 3.0rem;
}

.experiments-block {
  margin-top: 1.0rem;
}

.faq-block {
  /* margin-top: -3.0rem; */
  margin-top: 3.0rem;
}

/* ============== Buttons. ============== */

.toggle-button {
  background-color: #f0f0f0;
  border: 0px solid #ccc;
  color: #333;
  font-size: 0.9rem;
  padding: 0.5em 1em;
  border-radius: 4px;
  transition: background-color 0.2s ease;
  font-weight: 500;
}

.toggle-button:hover {
  background-color: #e2e2e2;
}

.toggle-button.is-selected {
  background-color: #d6d6d6;
  font-weight: 600;
}

/* ============== Crop Videos. ============== */

.video-crop-container {
  width: 100%;
  aspect-ratio: 4 / 3;
  overflow: hidden;
  border-radius: 12px;
  position: relative;
}

.video-cropped {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-cropped.figure8 {
  object-position: center 65%;
}

.video-cropped.tuckbox {
  object-position: center 100%;
}

.video-cropped.bookshelf {
  object-position: center 0%;
}

.placeholder-gray {
  background-color: #e0e0e0;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.placeholder-gray::before {
  content: "Not Applicable";
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #666;
  font-size: 1.1rem;
}

/* ============== PI-0 Video Spacing. ============== */

.task-row {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-bottom: 3rem;
}

.task-section {
  flex: 1;
  max-width: 48%;
}

.task-title {
  text-align: left;
  margin-bottom: 1rem;
}

.video-pair {
  display: flex;
  gap: 1.1rem;
  justify-content: center;
}

.video-column {
  flex: 1;
}

.highlight-box {
  background-color: #f7f7f7;  /* very light gray */
  border-radius: 12px;
  padding: 1.5rem;
  margin-bottom: 2rem;
}

/* ============== FAQ Collapsable. ============== */

.collapsible {
  background-color: #f0f0f0;
  color: #333;
  cursor: pointer;
  padding: 1rem;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1.1rem;
  font-weight: 500;
  border-radius: 12px;
  margin-top: 1.5rem;
  transition: background-color 0.2s ease;
}

.collapsible:hover {
  background-color: #e2e2e2;
}

.collapsible.active {
  background-color: #d6d6d6;
  font-weight: 600;
}

.collapsible:after {
  content: '\002B';
  font-size: 1.2rem;
  float: right;
  margin-left: 1rem;
}

.collapsible.active:after {
  content: "\2212";
}

.faq-content {
  padding: 0 1rem;
  display: none;
  overflow: hidden;
  margin-top: 1.5rem;
}

.faq-item {
  margin-bottom: 1.0rem;
}